<div class="categories-list">
	<div class="container">
		<img src="/image/catalog/assets/konfitury--2048x2048.png"/>
		<a href="index.php?route=common/shop&category=konfitury">KONFITURY</a>
	</div>
	<div class="container">
		<img src="/image/catalog/assets/maluchy-2048x2048.png"/>
		<a href="index.php?route=common/shop&category=maluchy w spichlerzu">MALUCHY W  <br>SPICHLERZU</a>
	</div>
	<div class="container">
		<img src="/image/catalog/assets/Miody-2048x2048.png"/>
		<a href="index.php?route=common/shop&category=miody">MIODY</a>
	</div>
	<div class="container">
		<img src="/image/catalog/assets/owoce-w-syropie-2048x2048.png"/>
		<a href="index.php?route=common/shop&category=owoce w syropie">OWOCE W <br> SYROPIE</a>
	</div>
	<div class="container">
		<img src="/image/catalog/assets/przetwory.jpg"/>
		<a href="index.php?route=common/shop&category=przetwory warzywne">PRZETWORY <br> WARZYWNE</a>
	</div>
	<div class="container">
		<img src="/image/catalog/assets/syropy-2048x2048.png"/>
	<a href="index.php?route=common/shop&category=syropy">SYROPY</a>
	</div>
	<div class="container">
		<img src="/image/catalog/assets/gift_packs.jpeg"/>
	<a href="index.php?route=common/shop&category=zestawy prezentowe">ZESTAWY <br> PREZENTOWE</a>
	</div>
</div>

