<footer>
	<div class="desktop">
		<div class="footer-top">
			<div class="footer-list">
				<div class="footer-logo">
					<img src="image/catalog/assets/white_logo.svg">
				</div>
				<div class="social-networks">
					<div><img src="image/catalog/assets/allegro_icon.svg"/></div>
					<div><img src="image/catalog/assets/instagram_icon.svg"/></div>
					<div><img src="image/catalog/assets/facebook_icon.svg"/></div>
				</div>
			</div>
			<div class="footer-list">
				<a href="index.php?route=common/about_us">O NAS</a>
				<a href="index.php?route=common/shop">SKLEP</a>
				<a href="index.php?route=common/wholesale">HURTOWNIA</a>
				<a href="index.php?route=common/workwithus">WSPÓŁPRACA</a>
			</div>
			<div class="footer-list">
				<a href="index.php?route=common/reglament">REGULAMIN SKLEPU</a>
				<a href="index.php?route=common/faq">NAJCZĘŚCIEJ ZADAWANE PYTANIA</a>
				<a href="">KOSZT I SPOSÓB DOSTAWY</a>
				<a href="index.php?route=common/contact">KONTAKT</a>
			</div>
		</div>
		<div class="footer-separator"></div>
		<div class="footer-bottom">
			<div>
				Copyright 2023. Wszelkie prawa zastrzeżone.
			</div>
		</div>
	</div>
	<div class="footer-mobile">
		<div class="top">
			<img src="image/catalog/assets/white_logo.svg">
		</div>
		<div class="midle">
			<div class="footer-list">
				<a href="index.php?route=common/about_us">O NAS</a>
				<a href="index.php?route=common/shop">SKLEP</a>
				<a href="index.php?route=common/wholesale">HURTOWNIA</a>
				<a href="index.php?route=common/workwithus">WSPÓŁPRACA</a>
			</div>
			<div class="footer-list">
				<a href="index.php?route=common/reglament">REGULAMIN SKLEPU</a>
				<a href="index.php?route=common/faq">NAJCZĘŚCIEJ ZADAWANE PYTANIA</a>
				<a href="">KOSZT I SPOSÓB DOSTAWY</a>
				<a href="index.php?route=common/contact">KONTAKT</a>
			</div>
		</div>
		<div class="bottom">
			<div class="social-networks">
				<div><img src="image/catalog/assets/allegro_icon.svg"/></div>
				<div><img src="image/catalog/assets/instagram_icon.svg"/></div>
				<div><img src="image/catalog/assets/facebook_icon.svg"/></div>
			</div>
		</div>
	</div>
	{% for script in scripts %}
		 <script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}
</footer>
<script src="catalog/view/javascript/products/createProductCard.js.js" type="text/javascript"></script>
<script src="catalog/view/javascript/products/createProductCartCard.js" type="text/javascript"></script>
<script src="catalog/view/javascript/utils/updateLocalStorageProductsCount.js" type="text/javascript"></script>
<script src="catalog/view/javascript/header/header.js" type="text/javascript"></script>