.breadcrumbs{
    display: flex;
}

.breadcrumbs div{
    display: flex;
    justify-content: start;
    align-items: center;
}

.breadcrumbs .link{
    white-space: nowrap;  
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #C7A992;
}

.breadcrumbs .last{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 14.63px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #987253;
    min-width: 0;

    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
    .breadcrumbs .last {
      white-space: nowrap;       /* Запрещает перенос строк */
      overflow: hidden;          /* Скрывает переполнение */
      text-overflow: ellipsis;   /* Добавляет троеточие при переполнении */
    }
  }
  