.categories-list {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.categories-list a {
  text-align: left;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #6b4424;
}
.categories-list .container img {
  height: 180px;
  width: 180px;
}
.categories-list .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .categories-list {
    width: 100%;
    flex-direction: column;
  }
  .categories-list .container img {
    height: auto;
    width: 100%;
  }
  .categories-list .container {
    margin-top: 50px;
  }
  .categories-list a {
    font-size: 30px;
    font-weight: 500;
    text-align: left;
  }
}
